.ftitle{
    color: rgb(185, 194, 211) !important;
}
.ftitle1{
    color: rgb(185, 194, 211) !important;
}
.fno{
    color: rgb(165, 184, 234);
    font-size:30px !important;
    font-weight: bold;
}
.fno1{
    color: rgb(165, 184, 234);
    font-size:20px !important;
    font-weight: bold;
}
