*{
    padding: 0;
    margin:0;
    outline: none;
}
body{

    background: rgb(28, 34, 53);
}

/* ==============Signin start================= */
.sgn-portn{
    height: 88vh;
    border-radius:15px;
    background-image: url("../img/signin/14.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.sgn-portn h2{
    font-size: 20px;
    padding-bottom:2rem;
}
.sgnIn-form{
    margin-top:13rem;
}
.form-group input {
    transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    margin-top: 10px;
    padding-top:5px;
    padding-bottom:5px;
    border-radius: 8px;
    width: 100%;
    border:none;
    background: none;
    border:1px solid rgb(227, 226, 227);

  }
  .fldsty{
    padding-left: 12px;
    vertical-align:auto;

  }
  input::placeholder{
    color:rgba(116, 116, 116,0.6);



  }
  .submit1 {
    width: auto;
    background: none;
    border:1px solid rgb(33,44,58) !important;
    color: rgb(33,44,58);
    padding: 9px 20px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -o-border-radius: 8px;
    -ms-border-radius: 8px;
    cursor: pointer;
    margin-top:2rem;
    font-size:12px;
  }
    .submit1:hover {
      background: rgb(33,44,58);
      color: white;
    }

    .submit2 {
      width: auto;
      background: none;
      background: rgb(33,44,58);
      color: white;
      float: right;
      padding: 10px 40px;
      font-weight: bold;
      border: none;
      border-radius: 8px;
      -moz-border-radius: 8px;
      -webkit-border-radius: 8px;
      -o-border-radius: 8px;
      -ms-border-radius: 8px;
      cursor: pointer;
      margin-top:2rem;
      font-size:12px;
    }
      /* .submit2:hover {
        color: rgb(33,44,58);
        border:1px solid rgb(33,44,58) !important;
        background: none;

      } */
      .form-submit input{
        display: inline-block !important;
      }
      .forget-password {
        color: rgb(210, 212, 217);
        font-size: 11px;
        float: right;
        text-decoration: none;
        margin-top: 14px;
        display: block;

      }
      .sndotp {
        color: rgb(210, 212, 217);
        font-size: 11px;

        text-decoration: none;
        margin-top: 14px;


      }
      .trmsrv{
        font-size: 12px;
        color: rgb(147, 144, 152);
      }
      .trmsrv b{
        color: rgb(143, 208, 199);
      }
      .forget-password:hover {
          text-decoration: underline;
          color:rgb(33,44,58);
      }
      .qss_logo{
        background-image: url('../img/signin/cmp.png');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 15px;
        color: white;
        font-size: 10px;
      }

/* ==============Signin start================= */
