
                  <!-- ==========Start Fotoer=========== -->




                  <script src="/static/js/jquery.min.js" ></script>
                  <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
                  <script src="/static/js/bootstrap/bootstrap.bundle.min.js" ></script>
                  <script src="/static/js/bootstrap-show-modal.js"></script>
                  <script src="/static/js/main.js" ></script>
              
                  <script src="/static/js/lightbox-plus-jquery.min.js" ></script>
                  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js">    </script>
                 

                  <!-- page Script start-->
                  
                  <!-- <script src="/static/js/counter.js" ></script>-->
                  
                  <script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.2/mqttws31.min.js" type="text/javascript"></script>
                  <script src="/static/js/mqttConfig.js" ></script>
                  <script src="/static/js/droneConfig.js" ></script>
                  
              <!-- page Script end -->
              
              
                      <!-- ==========end  Fotoer=========== -->
                </body>
                
              </html>




<!--                  <script>-->
<!--  $(document).ready(function() {-->
<!--function updateValue() {-->
<!--      $.ajax({-->
<!--        url: '/get_value/',  // Replace with your actual endpoint URL-->
<!--        type: 'GET',-->
<!--        dataType: 'json',-->
<!--        success: function(response) {-->
<!--          var value = response.value;-->
<!--          console.log(response)-->
<!--          $('#valueDisplay').text(value);-->
<!--        },-->
<!--        error: function(xhr, status, error) {-->
<!--          console.error('Error:', error);-->
<!--        }-->
<!--      });-->
<!--    }-->
<!--    // Update the value every second-->
<!--    setInterval(updateValue, 1000);-->
<!--    $(document).on('click', function() {-->


<!--      var imgElements = document.getElementsByClassName('imgArea');-->

<!--      for (var i = 0; i <= imgElements.length; i++) {-->
<!--        if( i == 0){-->
<!--          imgElements[i].src = '/static/img/11.png';-->
<!--        }-->
<!--        else if(i == 1){-->
<!--          imgElements[i].src = '/static/img/12.png';-->
<!--        }-->
<!--        else if(i == 2){-->
<!--          imgElements[i].src = '/static/img/13.png';-->
<!--        }-->
<!--        else if(i == 3){-->
<!--          imgElements[i].src = '/static/img/14.png';-->
<!--        }-->
<!--      }-->


<!--    });-->

<!--    $(document).on('dblclick', function() {-->


<!--      var imgElements = document.getElementsByClassName('imgArea');-->

<!--      for (var i = 0; i <= imgElements.length; i++) {-->
<!--        if( i == 0){-->
<!--          imgElements[i].src = '/static/img/111.png';-->
<!--        }-->
<!--        else if(i == 1){-->
<!--          imgElements[i].src = '/static/img/122.png';-->
<!--        }-->
<!--        else if(i == 2){-->
<!--          imgElements[i].src = '/static/img/133.png';-->
<!--        }-->
<!--        else if(i == 3){-->
<!--          imgElements[i].src = '/static/img/144.png';-->
<!--        }-->
<!--      }-->


<!--    });-->
<!--  });-->
<!--</script>-->